<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>


  <body>
    <h1>Thanks for creating a new comment</h1>
    <p>
    Name <%=@comment.commenter%>
    </p>
  </body>
</html>